<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/TAHomeStyle.css'%}" />

</head>
<body>
<div class="header">
    <h1>Hello TA {{ ta.username }}!</h1>
</div>

    <ul class="topnav">
        <form action="/taedit/">
            <input type="submit" value="Edit information" />
        </form>

        <form action="/taviewcourses/">
            <input type="submit" value="Courses" />
        </form>

        <form action="/logout/">
            <input style="float:right" type="submit" value="Logout" />
        </form>
    </ul>
<div class="card">
<table id="TAInfo">
        <tr>
            <th>Name</th>
            <th>Office</th>
            <th>Office Hours</th>
            <th>Phone Number</th>
            <th>Email address</th>
        </tr>
        <tr>
            <td>{{ ta.first_name }} {{ ta.last_name }}</td>
            <td>{{ ta.office }}</td>
            <td>{{ ta.office_hours }}</td>
            <td>{{ ta.phone }}</td>
            <td>{{ ta.email }}</td>
        </tr>
    </table>
</div>


</body>
</html>