<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Courses</title>
</head>
<body>

 <table>
        <tr>
            <th>Term</th>
            <th>Course</th>
            <th>Number</th>
            <th>Instructor</th>
            <th>Description</th>
            <th>TAs</th>
            <th>Sections</th>
        </tr>

        {% for c in courses %}
        <tr>
            <td>{{ c.term }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.dep_number }}</td>
            <td>{{ c.instructor.username }}</td>
            <td>{{ c.description }}</td>
            <td>{% for t in tas %}
                {% endfor %}</td>
            <td><form action="/taviewsections{{ c.name }}/">
                    <input type="submit" value="View" />
                </form></td>
        </tr>
        {% endfor %}
    </table>

 <form action="/tahome/">
        <input type="submit" value="Home"/>
 </form>

</body>
</html>