<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/AdminHomeStyle.css'%}" />
</head>
<body>
<div class="header">
<h1>Hello Admin {{ username }}!</h1>
</div>

<ul>
    <li>
        <form action="/user/">
            <input type="submit" value="Users" />
        </form>
    </li>
    <li>
        <form action="/course/">
            <input type="submit" value="Courses" />
        </form>
    </li>
</ul>

<form action="/logout/">
    <input type="submit" value="Logout" />
</form>


</body>
</html>
