<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sections</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/AdminEditStyle.css'%}" />
</head>
<body>

    <table>
        <tr>
            <th></th>
            <th></th>
            <th>Section</th>
            <th>Instructor/TA</th>
            <th>Days</th>
            <th>Time</th>
            <th></th>
        </tr>

        {% for s in sections %}
        <tr>
            <td></td>
            <td></td>
            <td>{{ s.type_of }}-{{ s.number }}</td>
            <td>{{ s.ta.username }}{{ s.instructor.username }}</td>

            <td>{{ s.time }}</td>
            <td>
                <form action="/editsection{{ s.number }}-{{ name }}/">
                    <input type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="/deletesection{{ s.number }}-{{ name }}/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>


    <form action="/createsection{{ name }}/">
    <input type="submit" value="Create Section"/>
    </form>

    <form action="/course/">
        <input type="submit" value="Back"/>
    </form>

<form action="/logout/">
    <input type="submit" value="Logout" />
</form>
</body>
</html>