<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin User Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'EditPageStyle.css'%}" />
</head>
<body>
<div class="header">
<h1>Admin User Page</h1>

</div>
<ul class = "topnav">
        <form action="/adminhome/">
            <input class = "button" type="submit" value="Home"/>
        </form>
        <form action="/logout/">
            <input class="button" style="float: right" type="submit" value="Logout" />
        </form>
</ul>
    <table id = "EditList">
        <tr>
            <th>Users</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for i in instructors %}
        <tr>
            <td>{{ i.username }}</td>
            <td>Instructor</td>
            <td>
                <form action="/edituser{{ i.username }}-instructor/">
                    <input class = "button" type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="/deleteuser{{ i.username }}/" method="post">
                    {% csrf_token %}
                    <input class = "button" type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {% endfor %}

    {% for t in tas %}
        <tr>
            <td>{{ t.username }}</td>
            <td>TA</td>
            <td>
                <form action="/edituser{{ t.username }}-ta/">
                    <input class = "button" type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="/deleteuser{{ t.username }}/" method="post">
                    {% csrf_token %}
                    <input class = "button" type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

<ul class = "topnav">
        <form action="/createuser/">
                <input class = "button" type="submit" value="Create User"/>
        </form>
</ul>
</body>
</html>