<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin User Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/AdminEditStyle.css'%}" />
</head>
<body>
<div class="header">
<h1>Admin User Page</h1>
</div>
    <table>
        <tr>
            <th>Users</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for i in instructors %}
        <tr>
            <th>{{ i.username }}</th>
            <th>Instructor</th>
            <td>
                <form action="/edituser{{ i.username }}-instructor/">
                    <input type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="/deleteuser{{ i.username }}/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {% endfor %}

    {% for t in tas %}
        <tr>
            <th>{{ t.username }}</th>
            <th>TA</th>
            <td>
                <form action="/edituser{{ t.username }}-ta/">
                    <input type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="/deleteuser{{ t.username }}/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

    <ul>
        <li>
            <form action="/createuser/">
                <input type="submit" value="Create User"/>
            </form>
        </li>
        <li>
            <form action="/adminhome/">
                <input type="submit" value="Home"/>
            </form>
        </li>
        <li>
            <form action="/logout/">
                <input type="submit" value="Logout" />
            </form>
        </li>
    </ul>
</body>
</html>