<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Course Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/EditPageStyle.css'%}" />
</head>
<body>
<div id="editCard"><h1>Admin Course View</h1></div>
<ul class = "topnav">
        <form action="/adminhome/">
            <input class = "button" type="submit" value="Home"/>
        </form>
        <form action="/logout/">
            <input class="button" style="float: right" type="submit" value="Logout" />
        </form>
</ul>
    <table id="EditList">
        <tr>
            <th>Term</th>
            <th>Course</th>
            <th>Number</th>
            <th>Instructor</th>
            <th>Description</th>
            <th>TAs</th>
            <th>Sections</th>
            <th>Edit Course</th>
            <th>Delete Course</th>
        </tr>

        {% for c in courses %}
        <tr>
            <td>{{ c.term }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.dep_number }}</td>
            <td>{{ c.instructor.username }}</td>
            <td>{{ c.description }}</td>

            <td><form action="/viewtas{{ c.name }}/">
                    <input class = "button" type="submit" value="View" />
                </form></td>
            <td><form action="/viewsections{{ c.name }}/">
                    <input class = "button" type="submit" value="View" />
                </form></td>
            <td>
                <form action="/editcourse{{ c.name }}/">
                    <input class = "button" type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="/deletecourse{{ c.name }}/" method="post">
                    {% csrf_token %}
                    <input class = "button" type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

<ul class = "topnav">
        <form action="/createcourse/">
            <input class = "button" type="submit" value="Create Course"/>
        </form>

</ul>
</body>
</html>