<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add TA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/EditPageStyle.css'%}" />
</head>
<body>
<div id="editCard"><h1>Add TA to {{ course.name }}</h1></div>
<ul class = "topnav">
        <form action="/course/">
            <input class="button" type="submit" value="Back"/>
        </form>
        <form action="/logout/">
            <input class="button" style="float: right" type="submit" value="Logout" />
        </form>
</ul>
<table id = "EditList">
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Term</th>
            <th>Instructor</th>
            <th>TAs</th>
        </tr>

        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.dep_number }}</td>
            <td>{{ course.term }}</td>
            <td>{{ course.instructor.username }}</td>
            <td></td>
        </tr>
    </table>

    <br>

<form action="/courseaddta{{ course.name }}/" method="post">
    {% csrf_token %}
<table>
   <tr><td>TA: </td><td><select name="ta" id="ta">
    {% for t in tas %}
            <option value={{ t.username }}>{{ t.username }}</option>
    {% endfor %}
</select></td></tr>
</table>
    <ul class = "topnav">
        <form action="/createcourse/">
            <input class = "button" type="submit" value="Submit"/>
        </form>

</ul>
</form>
</body>
</html>