<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/EditPageStyle.css'%}" />
</head>
<body>
<div id="editCard"><h1>Create a Course</h1></div>
<h2>TAs can be assigned through the View TA tab</h2>
<ul class="topnav">
        <form action="/course/">
        <input class = "button" type="submit" value="Back"/>
    </form>

        <form action="/logout/">
            <input class="button" style="float:right" type="submit" value="Logout" />
        </form>
</ul>
<form action="/createcourse/" method="post">
    {% csrf_token %}
<table id = "EditList">
        <tr><td>Name: </td><td><input type="text" name="name"></td></tr>
        <tr><td>Department and Number(eg CS 123 or MATH 205): </td><td><input type="text" name="dep_number"></td></tr>
        <tr><td>Term(eg Fall 2020): </td><td><input type="text" name="term"></td></tr>
        <tr><td>Description: </td><td><textarea name="desc" rows="10" cols="50" placeholder="enter course description..."></textarea></td></tr>
        <tr><td>Instructor: </td><td><select name="instruct" id="instruct">
         <option value=''></option>
    {% for i in instructors %}
            <option value={{ i.username }}>{{ i.username }}</option>
    {% endfor %}
</select></td></tr>
    </table>
    <ul class="topnav">
            <input class="button" type="submit" style="float:right" value="Submit"/>
    </ul>
</form>
{{ pf }}
</body>
</html>