<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/AdminEditStyle.css'%}" />
</head>
<body>
<h2>Edit {{ course.name }}</h2>

<table>
        <tr>
            <th>Term</th>
            <th>Number</th>
            <th>Course</th>
            <th>Instructor</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>{{ course.term }}</td>
            <td>{{ course.dep_number }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.instructor.username }}</td>
            <td>{{ course.description }}</td>
        </tr>
    </table>

    <br>

<form action="/editcourse{{ course.name }}/" method="post">
    {% csrf_token %}
<table>
        </td></tr>
        <tr><td>Name: </td><td><input type="text" name="name"></td></tr>
        <tr><td>Department and Number(eg CS 123 or MATH 205): </td><td><input type="text" name="dep_number"></td></tr>
        <tr><td>Term(eg Fall 2020): </td><td><input type="text" name="term"></td></tr>
        <tr><td>Description: </td><td><input type="text" name="desc"></td></tr>
    <tr><td>Instructor: </td><td><select name="instruct" id="instruct">
    {% for i in instructors %}
            <option value={{ i.username }}>{{ i.username }}</option>
    {% endfor %}
</select></td></tr>
    </table>
    <input type="submit">
</form>



<form action="/course/">
        <input type="submit" value="Back"/>
</form>
</body>
</html>