<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/EditPageStyle.css'%}" />
</head>
<body>
<div id="editCard"><h1>Edit User: {{ user.username }}</h1></div>
<ul class="topnav">
        <form action="/user/">
            <input class = "button" type="submit" value="Back"/>
        </form>

        <form action="/logout/">
            <input class="button" style="float:right" type="submit" value="Logout" />
        </form>
</ul>
<table id = "EditList">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Name</th>
            <th>Office</th>
            <th>Phone</th>
            <th>Office Hours</th>
        </tr>

        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.office }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.office_hours }}</td>
        </tr>
    </table>

    <br>





<form action="/edituser{{ user.username }}-{{ utype }}/" method="post">
    {% csrf_token %}
<table id = "InputList">
        </td></tr>
        <tr><td>Username: </td><td><input type="text" name="name"></td></tr>
        <tr><td>Password: </td><td><input type="text" name="password"></td></tr>
        <tr><td>Email: </td><td><input type="text" name="email"></td></tr>
        <tr><td>First Name: </td><td><input type="text" name="first_name"></td></tr>
        <tr><td>Last Name: </td><td><input type="text" name="last_name"></td></tr>
        <tr><td>Office: </td><td><input type="text" name="office"></td></tr>
        <tr><td>Phone: </td><td><input type="text" name="phone"></td></tr>
        <tr><td>Office Hours: </td><td><input type="text" name="office_hours"></td></tr>
    </table>
    <ul class="topnav">
            <input class="button" type="submit" style="float:right" value="Submit"/>
    </ul>
</form>

</body>
</html>