<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/InstructorViewTAsStyle.css' %}"/>
</head>
<body>

<div class="header">
    <h1>The TAs</h1>
</div>
    <ul class="topnav">

        <form action="/instructorviewcourses/">
            <input type="submit" value="Back"/>
        </form>

        <form action="/logout/">
            <input style="float:right" type="submit" value="Logout" />
        </form>
    </ul>
<div class="card">
    <table id="TAs">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Name</th>
            <th>Office</th>
            <th>Phone</th>
            <th>Office Hours</th>
        </tr>
        {% for t in tas %}
        <tr>
            <td>{{ t.username }}</td>
            <td>{{ t.password }}</td>
            <td>{{ t.email }}</td>
            <td>{{ t.first_name }} {{ user.last_name }}</td>
            <td>{{ t.office }}</td>
            <td>{{ t.phone }}</td>
            <td>{{ t.office_hours }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>