<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/InstructorHomeStyle.css'%}" />
</head>
<body>
<div class="header">
    <h1>Hello Instructor {{ username }}!</h1>
</div>
    <ul class="topnav">
        <form action="/instructoredit/">
            <input type="submit" value="Edit information" />
        </form>

        <form action="/admin/">
            <input type="submit" value="AdminPanel-TestPurposes" />
        </form>

        <form action="/instructorviewcourses/">
            <input type="submit" value="Courses" />
        </form>

        <form action="/instructorviewpolicies/">
            <input type="submit" value="Policies" />
        </form>

        <form action="/logout/">
            <input style="float:right" type="submit" value="Logout" />
        </form>
    </ul>
<div class="card">
<table id = "InstructorInfo">
        <tr>
            <th>Name</th>
            <th>Office</th>
            <th>Office Hours</th>
            <th>Phone Number</th>
            <th>Email address</th>
        </tr>
        <tr>
            <td>{{ instructor.first_name }} {{ instructor.last_name }}</td>
            <td>{{ instructor.office }}</td>
            <td>{{ instructor.office_hours }}</td>
            <td>{{ instructor.phone }}</td>
            <td>{{ instructor.email }}</td>
        </tr>
    </table>
</div>

</body>
</html>