<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Section</th>
            <th>Days</th>
            <th>Time</th>
            <th>Instructor/TA</th>
        </tr>

        {% for s in sections %}
        <tr>
            <td>{{ s.type_of }}-{{ s.number }}</td>
            <td>{{ s.days }}</td>
            <td>{{ s.time }}</td>
            <td>{{ s.ta.first_name }} {{ s.ta.last_name }} {{ s.instructor.first_name }} {{  s.instructor.last_name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>