<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor Edit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/InstructorEditStyle.css'%}" />

</head>
<body>
<div class="header"><h1>Edit Information</h1></div>
    <ul class="topnav">
        <form action="/instructorhome/">
            <input class="button" type="submit" value="Back"/>
        </form>

        <form action="/logout/">
            <input class="button" style="float:right" type="submit" value="Logout" />
        </form>
    </ul>
<div id="editCard">
    <table id="InstructorList">
        <tr>
            <th>Name</th>
            <th>Office</th>
            <th>Office Hours</th>
            <th>Phone Number</th>
            <th>Email Address</th>
        </tr>
        <tr>
            <td>{{ instructor.first_name }} {{ instructor.last_name }}</td>
            <td>{{ instructor.office }}</td>
            <td>{{ instructor.office_hours }}</td>
            <td>{{ instructor.phone }}</td>
            <td>{{ instructor.email }}</td>
        </tr>
    </table>
</div>
<br/>

<div>
    <table id="editCard">
        </td></tr>
        <form action="/instructoredit/" method="post">
            {% csrf_token %}
            <tr><td>Email: </td><td><input type="text" name="email"></td></tr>
            <tr><td>First Name: </td><td><input type="text" name="first_name"></td></tr>
            <tr><td>Last Name: </td><td><input type="text" name="last_name"></td></tr>
            <tr><td>Office: </td><td><input type="text" name="office"></td></tr>
            <tr><td>Phone: </td><td><input type="text" name="phone"></td></tr>
            <tr><td>Office Hours: </td><td><input type="text" name="office_hours"></td></tr>
            <tr><td><input class="button" type="submit"></td></tr>
        </form>
    </table>
</div>

</body>
</html>