<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Policies</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/InstructorHomeStyle.css' %}"/>
</head>
<body>
<div class="header">
    <h1> {{ instructor.username }}'s Policies </h1>
</div>
<div class="card">
    <table id="InstructorInfo">
        <tr>
            <th>Policy Text</th>
            <th>Actions</th>
        </tr>
        {% for p in policies %}
            <tr>
                <td> {{ p.policy_text }} </td>
                <td>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<br>


<form action="/instructorviewpolicies/" method="post">
    {% csrf_token %}
    <textarea name="new_policy_text" rows="10" cols="50" placeholder="Type your new policy here..."></textarea>
    <br><br>
    <input type="submit">
</form>
<form action="/instructorhome/">
            <input class="button" type="submit" value="Back"/>
        </form>


</body>
</html>