<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add TA</title>
</head>
<body>
<h2>Add TA to {{ course.name }}</h2>

<table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Term</th>
            <th>Name</th>
            <th>Instructor</th>
            <th>TAs</th>
        </tr>

        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.dep_number }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <br>

<form action="/courseaddta/{{ course.name }}" method="post">
    {% csrf_token %}
<table>
   <tr><td>TA: </td><td><select name="ta" id="ta">
    {% for t in tas %}
            <option value={{ t.username }}>{{ t.username }}</option>
    {% endfor %}
</select></td></tr>
    </table>
    <input type="submit">
</form>



<form action="/editcourse{{ course.name }}/">
        <input type="submit" value="Back"/>
    </form>
</body>
</html>