<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Section</title>
</head>
<body>
<form action="/createsection{{ name }}/" method="post">
    {% csrf_token %}
<table>
        <tr><td>Type: </td><td><select name="stype" id="stype">
            <option value="lecture">Lecture</option>
            <option value="lab">Lab</option>
            <option value="discussion">Discussion</option>
</select></td></tr>
        <tr><td>Number: </td><td><input type="text" name="number"></td></tr>
    <!--Display all instructors-->
    <tr><td>Instructor: </td><td><select name="instruct" id="instruct">
            <option value="lecture">Lecture</option>
            <option value="lab">Lab</option>
            <option value="discussion">Discussion</option>
</select></td></tr>

    </table>
    <input type="submit">
</form>

<form action="/viewsections{{ name }}/">
        <input type="submit" value="Back"/>
    </form>
</body>
</html>