<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor View Courses</title>
       {% load static %}
    <link rel="stylesheet" href="{% static '/InstructorViewCoursesStyle.css'%}" />

</head>
<body>
<div class="header"><h1>Courses</h1></div>
    <ul class="topnav">
        <form action="/instructorhome/">
            <input type="submit" value="Back" />
        </form>

        <form action="/admin/">
            <input type="submit" value="AdminPanel-TestPurposes" />
        </form>

        <form action="/logout/">
            <input style="float:right" type="submit" value="Logout" />
        </form>
    </ul>

    <br/>
<div id="editCard">
<table id="Courses">
        <tr>
            <th>Term</th>
            <th>Course</th>
            <th>Number</th>
            <th>Description</th>
            <th>Sections</th>
        </tr>

        {% for c in courses %}
        <tr>
            <td>{{ c.term }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.dep_number }}</td>
            <td>{{ c.description }}</td>
            <td>
            </td>
            <td><div><form action="/viewsections{{ c.name }}/">
                    <input type="submit" value="View" />
            </form></div></td>
            <td><div>
                <form action="/editcourse{{ c.name }}/">
                    <input type="submit" value="Edit" />
                </form></div>
            </td>
            <td><div>
                <form action="/deletecourse{{ c.name }}/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete" />
                </form></div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>