<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor View Courses</title>
</head>
<body>

<table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>TAs</th>
            <th></th>
            <th></th>
        </tr>
    {% for c in courses %}
        <tr>
            <td>{{c.name}}</td>
            <td>{{ c.dep_number }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </table>

<form action="/instructorhome/">
    <input type="submit" value="Back" />
</form>

</body>
</html>