<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Home</title>
</head>
<body>

<table>
        <tr>
            <th>Name</th>
            <th>Office</th>
            <th>Office Hours</th>
            <th>Phone Number</th>
            <th>Email address</th>
        </tr>
        <tr>
            <td>{{ ta.first_name }} {{ ta.last_name }}</td>
            <td>{{ ta.office }}</td>
            <td>{{ ta.officeHours }}</td>
            <td>{{ ta.phone }}</td>
            <td>{{ ta.email }}</td>
        </tr>
    </table>


<form action="/taedit{{ ta.username }}/" method="post">
    {% csrf_token %}
<table>
        </td></tr>
        <tr><td>Email: </td><td><input type="text" name="email"></td></tr>
        <tr><td>First Name: </td><td><input type="text" name="first_name"></td></tr>
        <tr><td>Last Name: </td><td><input type="text" name="last_name"></td></tr>
        <tr><td>Office: </td><td><input type="text" name="office"></td></tr>
        <tr><td>Phone: </td><td><input type="text" name="phone"></td></tr>
        <tr><td>Office Hours: </td><td><input type="text" name="office_hours"></td></tr>
    </table>
    <input type="submit">
</form>

<form action="/tahome/">
    <input type="submit" value="Back" />
</form>


</body>
</html>