<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/ViewCourseStyle.css'%}" />

</head>
<body>
<div id="card">
    <h1 class="header">{{ course.dep_number }} {{ course.name }} - {{ course.term }}</h1>
<br/>
    <h1>Course Description</h1>
    <p>{{ course.description }}</p>
    <table id="Sections">
        <tr>
            <th>Sections</th>
            <th>Instructor/TA</th>
        </tr>
        {% for s in sections %}
        <tr>
            <td>{{ s.type_of }}-{{ s.number }}: {{ s.days }} {{ s.time }}</td>
            <td>{{ s.ta.first_name }} {{ s.ta.last_name }} {{ s.instructor.first_name }} {{ s.instructor.last_name }}</td>
        </tr>
        {% endfor %}
    </table>

<h1>Policies</h1>
{% for p in policies %}
    <p>{{ p.policy_text }}</p>
{% endfor %}

<h1>Instructor</h1>
    <table id = "Sections">
        <tr>
            <th>Name</th>
            <th>Office</th>
            <th>Office Hours</th>
            <th>Phone Number</th>
            <th>Email address</th>
        </tr>
        <tr>
            <td>{{ instructor.first_name }} {{ instructor.last_name }}</td>
            <td>{{ instructor.office }}</td>
            <td>{{ instructor.office_hours }}</td>
            <td>{{ instructor.phone }}</td>
            <td>{{ instructor.email }}</td>
        </tr>
    </table>


<h1>Teaching Assistants</h1>
<table id="Sections">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Name</th>
            <th>Office</th>
            <th>Phone</th>
            <th>Office Hours</th>
        </tr>
        {% for t in tas %}
        <tr>
            <td>{{ t.username }}</td>
            <td>{{ t.password }}</td>
            <td>{{ t.email }}</td>
            <td>{{ t.first_name }} {{ user.last_name }}</td>
            <td>{{ t.office }}</td>
            <td>{{ t.phone }}</td>
            <td>{{ t.office_hours }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>